<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>CampusRecruitment</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>dropdown</display-name>
    <servlet-name>dropdown</servlet-name>
    <servlet-class>com.controller.dropdown</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>dropdown</servlet-name>
    <url-pattern>/dropdown</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Insert</display-name>
    <servlet-name>Insert</servlet-name>
    <servlet-class>com.controller.Insert</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Insert</servlet-name>
    <url-pattern>/Insert</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginValidation</display-name>
    <servlet-name>LoginValidation</servlet-name>
    <servlet-class>com.controller.LoginValidation</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginValidation</servlet-name>
    <url-pattern>/LoginValidation</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Mail</display-name>
    <servlet-name>Mail</servlet-name>
    <servlet-class>com.controller.Mail</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Mail</servlet-name>
    <url-pattern>/Mail</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>forgot</display-name>
    <servlet-name>forgot</servlet-name>
    <servlet-class>com.controller.forgot</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>forgot</servlet-name>
    <url-pattern>/forgot</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Update</display-name>
    <servlet-name>Update</servlet-name>
    <servlet-class>com.controller.Update</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Update</servlet-name>
    <url-pattern>/Update</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Profile</display-name>
    <servlet-name>Profile</servlet-name>
    <servlet-class>com.controller.Profile</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Profile</servlet-name>
    <url-pattern>/Profile</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>checkEligibility</display-name>
    <servlet-name>checkEligibility</servlet-name>
    <servlet-class>com.controller.checkEligibility</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>checkEligibility</servlet-name>
    <url-pattern>/checkEligibility</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>feedback</display-name>
    <servlet-name>feedback</servlet-name>
    <servlet-class>com.controller.feedback</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>feedback</servlet-name>
    <url-pattern>/feedback</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Admitcard</display-name>
    <servlet-name>Admitcard</servlet-name>
    <servlet-class>com.controller.Admitcard</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Admitcard</servlet-name>
    <url-pattern>/Admitcard</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Uploadfile</display-name>
    <servlet-name>Uploadfile</servlet-name>
    <servlet-class>com.controller.Uploadfile</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Uploadfile</servlet-name>
    <url-pattern>/Uploadfile</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>nextQuestion</display-name>
    <servlet-name>nextQuestion</servlet-name>
    <servlet-class>com.controller.nextQuestion</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>nextQuestion</servlet-name>
    <url-pattern>/nextQuestion</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminValidation</display-name>
    <servlet-name>AdminValidation</servlet-name>
    <servlet-class>com.controller.AdminValidation</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminValidation</servlet-name>
    <url-pattern>/AdminValidation</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UploadStudentsPlaced</display-name>
    <servlet-name>UploadStudentsPlaced</servlet-name>
    <servlet-class>com.controller.UploadStudentsPlaced</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UploadStudentsPlaced</servlet-name>
    <url-pattern>/UploadStudentsPlaced</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TrainingDetails</display-name>
    <servlet-name>TrainingDetails</servlet-name>
    <servlet-class>com.controller.TrainingDetails</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TrainingDetails</servlet-name>
    <url-pattern>/TrainingDetails</url-pattern>
  </servlet-mapping>
</web-app>